.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mainTable {
  margin-top: 25vh;
  font: italic small-caps bold 20px Arial, sans-serif;
  font-size: large;
}

table, td, th {
  border: 3px solid darkslategray;
  border-collapse: collapse;
  box-shadow: 0 0 1px transparent;
}

td, th {
  padding: 1em;
  color: darkslategray;
}

tr:hover {
  background-color: wheat;
}